
<div class="container">
    
    <h4> Your Wishlist Is:</h4>
    <br>
    <ol>
     <li *ngFor = "let title of this.searchService.wishlist">{{title}}
        <span class="remove" 
        (click)="onDelWish(title)"> 
        &times;</span>
     </li>
    </ol>
</div>