<nav class="navbar navbar-default">
  <div class="navbar-brand">{{title}}</div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- <li><a routerLink="/" >Home</a></li> -->
      <li ><a [ngClass]="{'isDisabled':show}"  routerLink="/search" >Search</a></li>
      <li><a  [ngClass]="{'isDisabled':show}" routerLink="/wishlist">Wishlist</a></li>
    </ul>
  </div>
</nav>

<div class="conatiner">
  <router-outlet></router-outlet>
</div>