   
<div class="container">
    <h3> Hello {{user}}</h3>
</div>

<div class="container">
    <div class="form-group has-feedback has-search">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
        <input type="text" 
               class="form-control" 
               placeholder="Search" 
               [(ngModel)]="searchTerm"
               (ngModelChange)="onSearchChange()">
    </div>
</div>

<div class="container" *ngIf = "!dispError">
    <ul class="list-group">
        <li class= "books"*ngFor="let bookelement of bookList" 
            class="list-group-item"
            data-toggle="modal" 
            data-target="#book-modal"
            (click)="onClickedBook(bookelement.title)"
            >{{bookelement.title}}
        </li>
    </ul>
</div>


<div class="container" *ngIf = "dispError">
    <div class="alert alert-danger">
        <h4><strong>{{searchError}}</strong></h4>
    </div>
</div>

<div class="modal" 
     id="myModal" 
     [ngClass]="{'show':showModal}">

    <div class="modal-dialog">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Additional Data for  {{modalInfo.title}}</h4>
          <button type="button" 
                  class="close" 
                  (click)="showModal=false" 
                  data-dismiss="modal">&times;</button>
        </div>
  

        <div class="modal-body">
            <p> Number of Pages: {{modalInfo.numPages}}</p>
            <p> Author : {{modalInfo.authors}}</p>
            <p> Date Published: {{modalInfo.publishedDate}}</p>
          </div>  
    
        
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addToWishlist(modalInfo.title)" data-dismiss="modal">Add to wishlist</button>
          <button type="button" class="btn btn-primary" (click)="showModal=false" data-dismiss="modal">Close</button>
         
        
        </div>
  
      </div>
    </div>
  </div>


