<div class="container">
    <h3>Please Enter your user name</h3>
</div>
<br>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="container">
            <label for="username">User Name</label>
            <input 
            type  = "text"
            id    = "userName"
            class ="form-control"
            ngModel
            name  = "userName">
            <br>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    
<br>

<div class="container" *ngIf = "errorDisp">
    <div class="alert alert-danger">
        <h4><strong>{{errorMsg}}</strong></h4>
    </div>
</div>
